{% extends 'base.html' %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="h3">{{ form_title }}</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_full_name">Full name:</label>
                <input type="text" name="full_name" value="{{ form.full_name.value }}" class="form-control" id="id_full_name">
            </div>
            <div class="form-group">
                <label for="id_position">Position:</label>
                <input type="text" name="position" value="{{ form.position.value }}" class="form-control" id="id_position">
            </div>
            <div class="form-group">
                <label for="id_date_of_hire">Date of hire:</label>
                <input type="date" name="date_of_hire" value="{{ form.date_of_hire.value }}" class="form-control" id="id_date_of_hire">
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" value="{{ form.email.value }}" class="form-control" id="id_email">
            </div>
            <div class="form-group">
                <label for="id_manager">Manager:</label>
                <select name="manager" class="form-control select2-ajax" id="id_manager"></select>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
        </form>
        <a href="{% url 'employee_list' %}" class="btn btn-secondary mt-3"><i class="fas fa-arrow-left"></i> Back to List</a>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.select2-ajax').select2({
            width: '100%',
            placeholder: "Select a manager",
            allowClear: true,
            ajax: {
                url: "{% url 'search_managers' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                },
                cache: true
            }
        });
    });
</script>
{% endblock %}
